<div class="wrapper">
	<div class="row justify-content-end">
		<div class="col-2">
			<button class="btn -primary" (click)="showDialog()">+ Yeni</button>
		</div>
	</div>
	<table class="table table-striped table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Ad</th>
				<th scope="col">Soyad</th>
				<th scope="col">Hastalıklar</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let p of patientList; let i = index">
				<th scope="row">1</th>
				<td>{{p.name}}</td>
				<td>{{p.surname}}</td>
				<td>@mdo</td>
			</tr>
		</tbody>
	</table>
</div>

<p-dialog header="Hasta Ekle" [(visible)]="displayPatientDialog" [responsive]="true" [baseZIndex]="10000" [width]="550" [minWidth]="200" [minY]="70">
	<form #patientForm="ngForm" (ngSubmit)="savePatient()">
		<div class="row">
			<mat-form-field>
				<input matInput placeholder="Hasta Adı" id="name" name="name" ngModel>
			</mat-form-field>
		</div>
		<div class="row">
			<mat-form-field>
				<input matInput placeholder="Hasta Soyadı" id="surname" name="surname" ngModel>
			</mat-form-field>
		</div>
		<div class="row justify-content-end">
			<div class="col-2">
				<button class="btn btn-primary" type="submit">Kaydet</button>
			</div>
		</div>
	</form>
</p-dialog>