<div class="wrapper">
	<div class="row justify-content-end">
		<div class="col-2">
			<button class="btn -primary" (click)="showDialog()">+ Yeni</button>
		</div>
	</div>
	<table class="table table-striped table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Ad</th>
				<th scope="col">Tanım</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let p of drugList; let i = index">
				<td>{{p.drugName}}</td>
				<td>{{p.drugDescription}}</td>
			</tr>
		</tbody>
	</table>
</div>

<p-dialog header="Hasta Ekle" [(visible)]="displayDrugDialog" [responsive]="true" [baseZIndex]="10000" [width]="550" [minWidth]="200" [minY]="70">
	<form #drugForm="ngForm" (ngSubmit)="saveDrug()">
		<div class="row">
			<mat-form-field>
				<input matInput placeholder="İlaç Adı" id="name" name="drugName" ngModel>
			</mat-form-field>
		</div>
		<div class="row">
			<mat-form-field>
				<input matInput placeholder="İlaç Tanımı" id="desc" name="drugDescription" ngModel>
			</mat-form-field>
		</div>
		<div class="row justify-content-end">
			<div class="col-2">
				<button class="btn btn-primary" type="submit">Kaydet</button>
			</div>
		</div>
	</form>
</p-dialog>